.label {
	-fx-font-size: 15;
	-fx-padding: 10 15 10 15;
}
.label:disabled {
	-fx-opacity: 1;
}
.button:disabled {
	-fx-opacity: 1;
}
.button {
	-fx-background-color: #090a0c, 
						  linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    					  linear-gradient(#20262b, #191d22),
    					  radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-background-radius: 5,4,3,5;
	-fx-background-insets: 0,1,2,0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
	-fx-font-size: 80;
	-fx-font-weight: bold;
	-fx-padding: 10 20 10 20;
    -fx-border-color: #e2e2e2; 
    -fx-border-width: 3;
}
.x-button {
	-fx-text-fill: linear-gradient(to bottom right, red, pink);
}
.o-button {
	-fx-text-fill: linear-gradient(to bottom right, blue, cyan);	
}
